<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miiarms.mock.dao.mapper.ScBcUseEmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.miiarms.mock.dao.po.ScBcUseEmployee">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="LOGIN_ACCOUNT" property="loginAccount" />
        <result column="EMPLOYEE_NAME" property="employeeName" />
        <result column="PASSWORD" property="password" />
        <result column="USER_TYPE" property="userType" />
        <result column="ORG_ID" property="orgId" />
        <result column="SEX" property="sex" />
        <result column="MOBILE" property="mobile" />
        <result column="ID_CARD" property="idCard" />
        <result column="EMAIL" property="email" />
        <result column="EFFECT_DATE" property="effectDate" />
        <result column="EXPIRY_DATE" property="expiryDate" />
        <result column="STORE_BUCKET" property="storeBucket" />
        <result column="FACE_ID" property="faceId" />
        <result column="HAS_OUT_BUY" property="hasOutBuy" />
        <result column="REMARK" property="remark" />
        <result column="STATUS" property="status" />
        <result column="OPTIMISTIC_LOCK_VERSION" property="optimisticLockVersion" />
        <result column="DATA_FROM" property="dataFrom" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATOR_ID" property="updatorId" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="PROVINCE_CODE" property="provinceCode" />
        <result column="BUREAU_CODE" property="bureauCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, LOGIN_ACCOUNT, EMPLOYEE_NAME, PASSWORD, USER_TYPE, ORG_ID, SEX, MOBILE, ID_CARD, EMAIL, EFFECT_DATE, EXPIRY_DATE, STORE_BUCKET, FACE_ID, HAS_OUT_BUY, REMARK, STATUS, OPTIMISTIC_LOCK_VERSION, DATA_FROM, CREATOR_ID, CREATE_TIME, UPDATOR_ID, UPDATED_TIME, PROVINCE_CODE, BUREAU_CODE
    </sql>

</mapper>
