<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miiarms.mock.dao.mapper.ScDmResDeviceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.miiarms.mock.dao.po.ScDmResDeviceInfo">
        <id column="ID" property="id" />
        <result column="SORT_CODE" property="sortCode" />
        <result column="DEVICE_NAME" property="deviceName" />
        <result column="DEVICE_MODEL" property="deviceModel" />
        <result column="DEVICE_BRAND" property="deviceBrand" />
        <result column="DEVICE_TYPE" property="deviceType" />
        <result column="IP_ADDRESS" property="ipAddress" />
        <result column="PORT_CODE" property="portCode" />
        <result column="ADMIN_ACCOUNT" property="adminAccount" />
        <result column="PASSWORD" property="password" />
        <result column="STATUS" property="status" />
        <result column="REMARK" property="remark" />
        <result column="OPTIMISTIC_LOCK_VERSION" property="optimisticLockVersion" />
        <result column="DATA_FROM" property="dataFrom" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATOR_ID" property="updatorId" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="PROVINCE_CODE" property="provinceCode" />
        <result column="BUREAU_CODE" property="bureauCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SORT_CODE, DEVICE_NAME, DEVICE_MODEL, DEVICE_BRAND, DEVICE_TYPE, IP_ADDRESS, PORT_CODE, ADMIN_ACCOUNT, PASSWORD, STATUS, REMARK, OPTIMISTIC_LOCK_VERSION, DATA_FROM, CREATOR_ID, CREATE_TIME, UPDATOR_ID, UPDATED_TIME, PROVINCE_CODE, BUREAU_CODE
    </sql>

</mapper>
